* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 28%, 13%);
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
}

.nav__link ul {
    display: flex;
    list-style: none;
}

.nav__link ul a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

/* intro part */

.intro {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.intro__img,
.intro__h1,
.intro__p,
.intro__button {
    margin: 0 auto;
}

/* content part */

.content {
    padding: 3rem 5rem;
    margin-top: 10rem;
}

.content__row1 {
    display: flex;
    text-align: center;
}

.content__row2 {
    display: flex;
    text-align: center;
}

/* stay part */

.stay {
    display: flex;
    margin-top: 10rem;
    padding: 3rem 5rem;
}

/* quote part */

.quote {
    display: flex;
    margin-top: 10rem;
    padding: 3rem 5rem;
}

.quote__box1,
.quote__box2,
.quote__box3 {
    width: 33%;
}

/* get card part */

.get {
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
}

/* footer part */

.footer {
    padding: 3rem 5rem;
    margin-top: 5rem;
}

.footer__about {
    display: flex;
    justify-content: space-between;
}

.footer__about__location {
    display: flex;
    width: 30%;
}

.footer__about__number1,
.footer__about__number2 {
    display: flex;
}

/* .footer__about__location p {
    width: 50%;
} */