* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__link ul {
    display: flex;
    list-style: none;
}

.nav__link ul a {
    text-decoration: none;
}

/* intro part */

.intro {
    display: flex;
    flex-direction: column;
}

.intro__img,
.intro__h1,
.intro__p,
.intro__button {
    margin: 0 auto;
}

/* content part */

.content__row1 {
    display: flex;
}

.content__row2 {
    display: flex;
}

/* stay part */

.stay {
    display: flex;
}

/* quote part */

.quote {
    display: flex;
}

.quote__box1,
.quote__box2,
.quote__box3 {
    width: 33%;
}

/* get card part */

.get {
    width: 70%;
    margin: 0 auto;
}

/* footer part */

.footer__about {
    display: flex;
    justify-content: space-between;
}

.footer__about__location {
    display: flex;
    width: 30%;
}

.footer__about__number1,
.footer__about__number2 {
    display: flex;
}

/* .footer__about__location p {
    width: 50%;
} */